<title>{{ page.title }}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="author" content="{{ site.author }}">
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="{{ page.keywords }}">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, minimal-ui">
<meta name="baidu-site-verification" content="Az6nva6QAD" />
<link rel="shortcut icon" href="/media/logo.ico">
<link rel="apple-touch-icon" href="/media/logo.png">
<link rel="stylesheet" href="/media/css/fantasy_v2.css">
<link rel="stylesheet" href="/media/css/syntax.css">
